<!DOCTYPE html>
<html>
    <head>
        <title> Properties </title>
        <link href = "assets/cssFiles/properties.css" rel = "stylesheet" type = "text/css"/>
         <%- include("controls/header") %>

         <script type = "text/javascript">
            $(function() 
            {
              let suburbNames = JSON.parse( '<%- JSON.stringify( data.suburbNames ) %>' );
              $("#Suburb").autocomplete({
                source: suburbNames,
                minLength: 2
              });
            });
         </script>
         <script type = "text/javascript">
        </script>
    </head>
        <body>
          <form method = "GET" >
              <span> Suburb: </span>
              <input id = "Suburb" type = "text" name = "SuburbName">
              <input type = "submit" value = "Submit">
          </form>
            <table id = "PropertyTable">
              <thead>
                <tr>
                  <td>Headline</td>
                  <td>Property Price</td>
                  <td>Address</td>
                  <td>Listed By</td>
                  <td>Domain URL</td>
                  <td>Price Displayed</td>
                </tr>
              </thead>
              <tbody>
              <% if ( data.propertyData != null ) { %>
              <% for (var i = 0; i < data.propertyData.Headline.length; i++) { %>
                <tr>
                  <td><%- data.propertyData.Headline[i] %></td>
                  <td><%- data.propertyData.Price[i] %></td>
                  <td><%- data.propertyData.Address[i] %></td>
                  <td><%- data.propertyData.AgentName[i] %></td>
                  <td><%- data.propertyData.seoUrl[i] %></td>
                  <td><%- data.propertyData.priceDisplay[i] %></td>
                </tr>
              <% } %>
              <% } %>
              </tbody>
            </table>
          <span><%- data.propertyData %></span>
        </body>
</html>


<script>
    function showSuburbs()
    {
      document.getElementById('suburb_dropdown_menu').style.display = "block";
    }
</script>